<div ng-if="search2.length>0 && !taxonomylevels2">
    <font style="color: white;">Loading results...</font>
</div>
<div ng-if="taxonomylevels2.levels.length>0 && search2.length>0">
    <table class="table table-striped table-sm table-custom">
        <thead class="thead">
            <tr>
                <th>Rank</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="level in taxonomylevels2.levels">
                <td>{{level.rank}}</td>
                <td>{{level.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
