<div ng-if="search1.length>0 && !taxonomylevels1">
    <font style="color: white;">Loading results...</font>
</div>
<div ng-if="taxonomylevels1.levels.length>0 && search1.length>0">
    <table class="table table-striped table-sm table-custom">
        <thead class="thead">
            <tr>
                <th>Rank</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="level in taxonomylevels1.levels">
                <td>{{level.rank}}</td>
                <td>{{level.name}}</td>
            </tr>
        </tbody>
    </table>
</div>
